<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Camera topic and weights, config and classes files -->
    <arg name="image_topic"	                default="/camera/color/image_raw"/>
    <arg name="weights_name"	            default="yolov3-tiny.weights"/><!--i changed this from yolov3_tiny_custom_2000.weights, im going to need to change either all 3 back if i get the weights file, or make my own weights and ammend the capstone_scheudler.py script-->
    <arg name="config_name"	                default="yolov3-tiny.cfg"/> <!--i changed this from yolov3_tiny_custom.cfg-->
    <arg name="classes_name"	            default="coco.names"/> <!-- i changed this from obj.names-->

    <!-- Published topics -->
    <arg name="publish_image"	            default="true"/>
    <arg name="detected_objects_topic"      default="detected_objects_in_image"/>
    <arg name="detections_image_topic"      default="detections_image_topic"/>

    <!-- Detection confidence -->
    <arg name="confidence"                  default="0.7"/>

    <!-- Node -->
    <node name="detector_manager" pkg="yolov3_pytorch_ros" type="detector.py" output="screen">
        <param name="image_topic"               value="$(arg image_topic)"/>
        <param name="weights_name"              value="$(arg weights_name)"/>
        <param name="config_name"               value="$(arg config_name)"/>
        <param name="classes_name"              value="$(arg classes_name)"/>
        <param name="publish_image"             value="$(arg publish_image)"/>
        <param name="detected_objects_topic"    value="$(arg detected_objects_topic)"/>
        <param name="detections_image_topic"    value="$(arg detections_image_topic)"/>
        <param name="confidence"                value="$(arg confidence)"/>
    </node>
</launch>
